<launch>
	<param name="safedia" value="1" />
	<node pkg="turtlesim" type="turtlesim_node" name="simulator" > </node>
	<node pkg="shadow_algorithm" type="shadow_algorithm_node" name="ourturtlenode" output="screen" launch-prefix="xterm -e"> 
		<rosparam command="load" file="/home/hari/my_iliad/src/shadow_algorithm/src/paramsQ1.yaml" />
	</node>
	<node pkg="shadow_algorithm" type="kill_turtle_node" name="myshadowkiller" />
</launch>